.MessageBoxContainer {
  width: 100%;
  font-size: 20px;
  height: 37rem;
  padding: 1rem;
  position: static;
}

.MessageRight {
  display: flex;
  justify-content: flex-end;
  margin-left: 25rem;
  max-height: 5rem;
  width: 50%;
  margin-bottom: 1rem;
}
/* .MessageRight :hover {
  background-color: rgb(235, 174, 174);
} */
.MessageLeft {
  width: 50%;
}
