.buttonList {
  background-color: transparent;
  color: white;
  border: none;
}

.likeTransition {
  font-size: 1rem;
}
.likeTransition :hover {
  font-size: 2rem;
  transition: 0.5s ease;
}
.pics {
  padding: 5px;
}
