.profileHead {
  text-align: center;
}
.profileImg {
  text-align: center;
  padding-left: 1.2rem;
}
.sideBarContainer {
  display: inline-block;
  padding-left: 2rem;
  padding-top: 1rem;
  margin-top: 3rem;
  position: fixed;
}
.profileDetailsNumber span {
  padding: 1.2rem;
}
.profileDetails span {
  padding: 5px;
  margin: auto;
}
.profileIndex div {
  padding: 0.2rem;
  margin: auto;
  text-decoration: none;
  text-align: center;
}
.profileIndex a {
  text-decoration: none;
  color: inherit;
}
